# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
/.venv
*.egg-info/
.eggs/
build/
dist/

# Node / Frontend
node_modules/
dist/
out/
*.tsbuildinfo
.turbo/
.next/

# VS Code / IDE
.vscode/
.history/
.idea/
*.iml
*.swp
*.swo

# Byte-compiled / optimized / cache
*.egg-info/
.eggs/
build/
dist/

# Tests
.pytest_cache/
.coverage/
htmlcov/

# Environments
.env
.env.local
.env*.local

# OS
Thumbs.db
.DS_Store

# Dependency directories
site-packages/

# Logs
*.log
logs/

# Docker
docker-compose.override.yml

# Kubernetes
/deploy/k8s/*.yaml

# GitHub actions
/src/.github/workflows/ci.yml
